@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dashboard {
    @apply container mx-auto px-4;
  }

  .table-header {
    @apply flex justify-evenly flex-wrap;
  }

  .search-box {
    @apply my-4 flex flex-row justify-items-center items-center rounded-md border border-green-800;
  }

  .search-input {
    @apply bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none;
  }

  .button-group {
    @apply my-4 bg-green-200 font-bold p-2 rounded-md select-none text-gray-700 flex items-center;
  }

  button {
    @apply rounded-md px-2 py-1 mx-1 hover:bg-white hover:shadow focus:outline-none;
  }

  table {
    @apply min-w-full sm:min-w-75 mx-auto table-fixed border-separate border border-green-800 rounded-md;
  }

  thead {
    @apply flex w-full;
  }

  tr {
    @apply flex w-full;
  }

  tbody {
    @apply block max-h-60 overflow-auto;
  }

  th {
    @apply py-2 text-xl w-half;
  }

  td {
    @apply border border-green-600 rounded-md py-2 m-1 w-half;
  }
}

@layer base {
  .title {
    @apply font-bold text-4xl p-2;
  }

  .description {
    @apply block bg-green-200 p-4 my-6 rounded-md;
  }
}
